{{ ansible_managed | comment }}
{{ "system_role:timesync" | comment(prefix="", postfix="") }}

OPTIONS="{{ timesync_chrony_sysconfig_options }}{{ ' -4' if timesync_ntp_ip_family == 'IPv4'
    else ' -6' if timesync_ntp_ip_family == 'IPv6' else '' }}"
