# {{ ansible_managed }}

OPTIONS="-g{{ ' -u ' + timesync_ntp_user + ':' + timesync_ntp_group|default(timesync_ntp_user, true) + ' -p /var/run/ntpd.pid' if ansible_distribution in ['RedHat', 'CentOS'] and ansible_distribution_major_version|int < 7 else '' }}"
